---
layout: coverPage 
title: <!-- Term 20## -->
---
<!-- assign item = site.term## | where:... -->
{% assign cover = site.TODO | where: "type", "Cover Art" %}
{% assign letter = site.TODO | where: "type", "Letter from the Editor" %}
{% assign poems = site.TODO | where: "type", "Poetry" %}
{% assign prose = site.TODO | where: "type", "Prose" %}
{% assign art = site.TODO | where: "type", "Art" %}
<!-- For new post types, create a new assignment and add the type name to the post. -->
<!-- Then create a custom block of code like the ones below. -->

<h2>Cover Art</h2>
{% for cover in cover %}
    <div class="post">
        <a href="{{ site.baseurl }}{{ cover.url }}">"{{ cover.mainTitle }}" - by {{ cover.author }}</a>
    </div><br>
{% endfor %}

{% for letter in letter %}
    <div class="post">
        <a href="{{ site.baseurl }}{{ letter.url }}">"{{ letter.mainTitle }}" - by {{ letter.author }}</a>
    </div>
{% endfor %}

{% if poems.size > 0 %}
    <h2>Poetry</h2>
    {% for poem in poems %}
            <div class="post">
                <a href="{{ site.baseurl }}{{ poem.url }}">"{{ poem.mainTitle }}" - Translated by {{ poem.translators }}</a>
                <p>Originally Authored by {{ poem.originalAuthor }}, from the {{ poem.tag }}</p>
            </div>
    {% endfor %}
{% endif %}

{% if prose.size > 0 %}
    <h2>Prose</h2>
    {% for post in prose %}
    <div class="post">
        <a href="{{ site.baseurl }}{{ post.url }}">"{{ post.mainTitle }}" - Translated by {{ post.translators }}</a>
        <p>Originally Authored by {{ post.originalAuthor }}, from the {{ post.tag }}</p>
    </div>
    {% endfor %}
{% endif %}

{% if art.size > 0 %}
    <h2>Visual Art</h2>
    {% for post in art %}
    <div class="post">
        <a href="{{ site.baseurl }}{{ post.url }}">"{{ post.mainTitle }}" - by {{ post.author }}</a>
    </div>
    {% endfor %}
{% endif %}
