<footer>
    <div class="socialLinks">
        <p>Follow Us!</p>
        <a href="https://literature.ucsd.edu/" target="_blank" id="ucsdLit"><img src="/assets/img/UCSanDiegoLogo-White.png" alt="UCSD Literature" id="ucsdLogo"></a>
        <a href="https://www.facebook.com/pg/Alchemy-Journal-of-Translation-246242158791426/"><img src="/assets/img/facebook.png" alt="Facebook" id="facebook"></a>
        <a href="https://twitter.com/alchemyjournal"><img src="/assets/img/twitter.png" alt="Twitter" id="twitter"></a>
        <a href="https://www.instagram.com/alchemyjournal/"><img src="/assets/img/instagram.png" alt="Instagram" id="instagram"></a>
    </div>
    <p class="copyrights">Alchemy © 2021 All Rights Reserved</p>
</footer>