---
layout: default
mainTitle: All Each Other's Miracles
titles: ["All Each Other's Miracles"]
translators: ["Reem Taşyakan"]
originalAuthor: ["Yanina Koubatski"]
type: Prose
tag: Palestinian Arabic

translatorNote: 'I was inspired to create a written record of this oral transmission—originally spoken in Palestinian
Arabic dialect—to preserve my grandmother’s memory. I wanted to do so in English because it’s the language with which
I’m most familiar. There’s no source document available for it because the content was transmitted orally and never
audio recorded.<br>
When I began working on it, I wondered if I was in a sense disrupting the natural state of the narrative because I was
changing not only the language but also the form. The story remained strictly oral for decades and held tremendous value
that way because the impromptu spoken word has a rawness and authenticity that cannot be fully represented in writing.
Also, Palestinian dialect is normally reserved for the spoken rather than the written word. For those reasons, part of
me wanted to just continue to pass it down orally. Then I realized that in another sense, recording it in a new language
and format can be seen as continuing my grandmother’s legacy in a unique and fitting way. With displacement, individuals
are forced to negotiate all kinds of changes. Variations in things like language and setting are characteristic of
migrant journeys. If we believe that individuals can experience events in a language, then my grandmother likely
witnessed these events “in Russian” while processing them “in Polish.” Then, she eventually transmitted them to her
husband, children, and grandchildren in Arabic. These experiences took place in three different countries, on two
different continents, and in three different languages. Now, from a fourth country, on a third continent, and in a
fourth language—I’m creating this written record. Perhaps this process doesn’t disrupt the natural state of the
narrative as much as it echoes and embodies it.'

translatorBio: "<strong>Reem Taşyakan</strong> is currently a second year PhD student in the UCSD Literature Department. In her research,
she focuses on Arab-American literature, exploring orientalism, cultural translation, and representations of the Arab
world and Arab culture in Arab-American fiction. Reem was born in the US but speaks Arabic and has traveled to several
parts of the Middle East and North Africa. In addition to her other academic pursuits, Reem writes fiction and poetry,
translates works from Arabic into English, and works as a TA in the Making of the Modern World program."

authorBio: "The speaker of this oral transmission was Reem’s maternal grandmother, <strong>Yanina Koubatski</strong>. She was born in
Warsaw, Poland in 1925. In 1939, she was captured by Soviet forces and taken to a labor camp in Siberia where she
remained until WWII ended in 1945. After being freed from the camp, she migrated to Palestine with her young daughter,
Reem’s mother Christine, who had been born in the camp in 1944. Yanina then trained to be a nurse and began to work at a
hospital in Bethlehem. At that hospital, she met a Palestinian man named Ibrahim who she eventually married and had six
more children with. Ibrahim was the man Christine came to know as her father."

excerpt_separator: "<!-- break -->"
---
<h1>{{ page.mainTitle }}</h1>
<h3>Translation of an oral transmission between a mother and daughter. </h3>
<h3>Originally narrated by {{ page.originalAuthor}}. Translated by {{ page.translators }}</h3>
<h3>From the {{ page.tag }} </h3>
<div class="text italics">
    <p>Chrisho, my daughter, I’m going to tell you about what happened to me, but this will be the only time I  go into any detail about it. It’s too hard for me to talk about. It feels too much like I’m reliving it when I  do. But I want you to know about my journey. </p>
    <p>Back in Warsaw, in September of 1939 when I was 14, my father was taken prisoner by the Soviets.  He’d been an official in the Polish government for years and was implicated because of that. </p>
    <p>In December of 1939, while I was in school one day, two Soviet military officers entered my classroom  and asked to see me and one of my classmates. My classmate’s father had been arrested in September  as well. We followed the officers into the hallway and they immediately marched us outside into the  cold. We trudged through some snow that led to their black sedan. They made us get inside. </p>
    <p>After a long ride in a terrible snowstorm, we came to a prison that had barbed wire above the gate and  all around the tops of the high stone walls. My classmate was taken in one direction and I was taken in  another. I was brought inside one of the buildings and left at the top of a dark staircase. The officer  who’d led me there instructed me to go down the stairs. Stepping carefully in the dark, I walked down  the stairs into a damp, dungeon-like room. Suddenly, fluorescent lights flickered on above me. I noticed  a figure in a jail cell huddled in a corner, his bony spine visible through the dingy white shirt he wore.  The figure turned his head slightly, his eyes blinking to adjust to the light. When he made out who I was,  he turned completely and spoke in a hoarse voice. When I heard him call out “Yasha,” I knew it was my father.  </p>
    <p>In just a few months, he had lost so much weight. He was pale, his cheeks were sunken in, and his hair  was thinning. I rushed toward the door of the cell and we held each other’s hands through the bars. I  asked him when he’d be coming home. He didn’t answer me. He told me to take care of my stepmother  and stepsisters (as you know, my own mother died giving birth to me, so I was raised by my stepmother). </p>
    <p>I wanted to stay in that cold damp room forever, because I had a terrible feeling it was the last time I’d  ever see my father. I held his hands tightly, but then an officer rushed down the stairs to retrieve me.  The officer violently ripped me away from my father and I was forced to let go of his hands. I cried for him as I was pulled back up the stairs. My father stared at me with his hands reaching out toward me.  He was too weak to call out my name again, and tears were streaming down his face. </p>
    <p>I was brought back to the black sedan. It was cold and I was exhausted, so I fell asleep. When I woke  up, I saw that we had stopped at a rural train station. I was brought inside and lined up beside other  women and children huddled together closely, trying to keep warm. I recognized some faces from the neighborhood where I lived, but I didn’t see anyone from my family. Some people had suitcases with  them, but I had nothing with me.  </p>
    <p>A train pulled into the station with a long line of freight cars that seemed to extend for hundreds of  kilometers. The officers standing nearby walked over and rolled open the metal doors to the freight  cars. They instructed us to get in wherever we would fit. Everyone was forced to leave their suitcases  behind. Everyone was too terrified to speak.</p>
    <p>In the freight car with me, among many others, was a mother, her infant daughter, and her two older  children. The train left the station and we sat there in the dark and cold without any food or drink. The  infant cried so the mother breastfed her to keep her quiet. But days passed without food or drink. The  mother ran out of her own milk and after that the baby cried continuously for a very long time. When the crying finally stopped, we all fell asleep for a while. </p>
    <p>At some point along the journey, the train came to a stop. There was silence all around at first, but then  we heard footsteps approaching. The metal door rolled open. With some light shining into the car, we  could see that something terrible had happened. The infant, still in suckling position against her  mother’s breast, had turned completely blue. An officer speaking Russian gestured at the mother. We  couldn’t make out much of what he was saying. The mother began to sob, but wouldn’t look down at  the dead infant. The officer picked up a burlap sack from beside him on the ground, untied it, and dumped dry oats all over the floor of the car. Then, he yanked the dead infant away from the mother’s  breast and tossed it into the empty sack. The mother screamed inconsolably as the officer slammed the  door to the freight car. The train soon pulled away again. Later, we ate dry oats off the floor and tried  to sooth the mother, but it was hopeless. </p>
    <p>Chrisho, we were taken to a labor camp in Siberia. I was told just weeks after arriving there that my  father had died of starvation in his prison cell. I never found out what happened to my stepmother and  stepsisters. I stayed in the camp for almost six whole years. I worked in the fields in summer and knitted  blankets and sweaters in the winter. I cooked, cleaned, sorted and carried crops, and mended clothes.  We worked nonstop until our bodies were heavy with exhaustion, and we ate and slept only very little. </p>
    <p>You were born in that camp, Chrisho. I can’t tell you much about who your father was, but I can tell you  that your birth made me happier than anything that had ever happened in my life before. You were  born into loving arms and you were nurtured. Your arrival gave me a new reason to be alive. It helped  me survive the remainder of my time there, and it gave me the strength and courage to come here to  Palestine after we were released at the end of the war. I wanted better things for you, in a better place. </p>
    <p>Chrisho, always remember, your Palestinian baba is as much a father to you as he is to your younger  brothers and sisters. He loves you like a daughter. He gave us a both a home when we didn’t have one – when we didn’t have anything at all. Like your arrival into my life, his arrival was a miracle too. And  he feels the same way about us – that we’re his miracles. If truth be told, we’re all each other’s miracles.  
</div>
<div class="gallery frame">
    <img src="{{ site.baseurl }}/assets/img/wi21/Mom_Family-Photo_1947.jpg"
    alt="Palestine, 1947 - Reem Taşyakan">
<p class="subtitle">Palestine, 1947</p>
</div>

<hr>

{% if page.translatorNote %}
        <p class="bio">
            <strong>Translator's Note</strong><br>
            {{ page.translatorNote }}
        </p>
{% endif %}

{% if page.translators.size == 1 %}
    <p class="bio">
        <strong>Translator's Biography</strong><br>
        {{ page.translatorBio }}
    </p>
{% else %}
    <p class="bio">
        <strong>Translators' Biography</strong><br>
        {{ page.translatorBio }}
    </p>
{% endif %}

<p class="bio">
    <strong>Author's Biography</strong><br>
    {{ page.authorBio }}
</p>